.top-main{
    background-image: url('../images/plain2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.top-main-h2{
    font-size: 4.0em;
    text-align: center;
    color: white;
    padding-top: 10%;
    animation: glow 1s ease-in-out infinite alternate;
    
}

@-webkit-keyframes  glow{
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f84a05, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #810bf0, 0 0 40px #4307e9, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

 

  aside {
    height: 60%;
    width: 210px;
    position: absolute;
    z-index: 1;
    top: 560px;
    left: 0;
    background-color: rgb(241, 240, 243);
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .sidebar-div ul li{
    
    margin-bottom: 20px;
  }
  

  .main{
    margin: 40px 50px 30px 250px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }