body{margin: 0px;}

.contacts{
  margin: 60px 150px;
}

.contacts ul li{
  padding-left: 0;
  margin-left: 0;
}

.button-div{
  line-height: 0;
}

.name-div{
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
	
}

.fname{
	display: float;
	float: inline-start;
}

.lname{
	display: float;
	float: inline-start;
}

.label{
	padding-bottom: 10px;
}

.names{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	gap: 0px;
	margin-bottom: 20px;
}
#btn{
	background-color: #160896;
	border: none;
	padding: 7px;
	color: #fff;
	margin: 20px;
	border-radius: 5px;
	font-size: 16
}
#btn:hover{
	background-color: #fff;
	color: #2205a5;
	border: 2px solid #040191
}
#ovrly{
	background-color: #000;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	opacity: 0.7;
}
#login{
	/*background-color: rgb(7, 6, 78);*/
	background-image: url(../images/blue-shine.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	width: 60%;
	height: 74%;
	margin: auto;
	border: 3px solid #f8f8fa;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	position: fixed;
	top: -410px;
  	left: 20%;
  	z-index: 9999;
  
}

#ovrly,#login{display: none;}
#cross{
	position: absolute;
    left: 95%;
    top: 18px;
    color: #faf8f8;
	background-color: #f5061a;
	font-size: 25px;
	font-weight: bold;
	border-radius: 50%;
	border: 0
}

#cross:hover{
	color: #f5061a;
	background-color: aliceblue;
}

#login h1{
	padding-top: 30px;
	padding-bottom: 40px;
}
h1{margin-top: 0px}



.button{
	height: 40px;
	width: 110px;
	background-color: #0511b4;
	border-radius: 10px;
	color: #fff;
	font-weight: 800;
	}

.button:hover{
	background-color: #2205a5;
}
.txt,.pswd{
	background-color: #fff;
	display: block;
	border: 2px solid #0b0199;
	border-radius: 10px;
	padding: 5px;
	margin: auto;
	margin-bottom: 15px;
}