aside {
    height: 60%;
    width: 210px;
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 0;
    background-color: rgb(241, 240, 243);
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .sidebar-div ul li{
    
    margin-bottom: 20px;
  }
  

  .main{
    margin: 40px 50px 30px 250px;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }